.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end; /* Comienza en la parte inferior de la pantalla */
    justify-content: center;
    z-index: 1000;
    overflow-y: hidden;
}

.modal {
    width: 100%;
    max-width: 400px;
    max-height: 80vh; /* Limita la altura máxima del modal */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
    overflow-y: auto; /* Permite desplazamiento vertical dentro del modal */
    transition: transform 0.3s ease-in-out;
}

.modal.show {
    transform: translateY(0); /* Posición final del modal */
}

.modal.hide {
    transform: translateY(100%); /* Posición inicial, oculto en la parte inferior */
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input label {
    font-size: 14px;
    color: #666666;
}

input[type="text"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus {
    border-color: #66afe9;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modalButton {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalButton:not(.cancelButton) {
    background-color: #5ab47b; /* Verde para el botón de registro */
}

.cancelButton {
    background-color: #e66868; /* Rojo para el botón de cancelar */
}

.modalButton.deleteButton {
    background-color: #e66868; /* Rojo para el botón de eliminación */
}

.modalButton:hover {
    opacity: 0.9;
}