.clasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: skyblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: inherit;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #cccccc;
}

th {
    background-color: skyblue;
    color: #ffffff;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

td:hover {
    background-color: #e0f7fa;
}

td {
    font-weight: 500;
}

